body{
	font-family: 'PT Sans', /*'Open Sans',*/ Arial, sans-serif;
	margin: 0;
}
p,li,ul,h1,h2,h3,dd,dt,dl{
	margin: 0;
	padding: 0;
}
/*----------------------------------*/
a{
	text-decoration: none;
}

.title{
	font-size: 16px;
	text-transform: uppercase;
	color: #384048;
}

.underline{
	padding-bottom: 10px;
	border-bottom: 2px solid #e2e3e4;
}

.text{
	font-size: 14px;
	line-height: 24px;
	color: #787b80;
}

.button{
	font-size: 14px;
	line-height: 24px;


	background-color: #50c3af;
	color: #fff;
	padding: 8px 20px;
	border-radius: 20px;
	transition-duration: 0.3s;
}

.button:hover{
	/*text-transform: uppercase;*/
	font-weight: bold;
	text-transform: uppercase;

	color: #50c3af;
	background-color: #fff;
	
	box-shadow: 4px 4px 2px #50c3af;
}

.grey-button{
	font-size: 14px;
	line-height: 24px;


	background-color: #d2d5da;
	color: #fff;
	padding: 8px 20px;
	border-radius: 20px;
	transition-duration: 0.2s;
}

.grey-button:hover{
	text-transform: uppercase;
	font-weight: bold;

	color: #d2d5da;
	background-color: #fff;
	border: 3px dotted #d2d5da;
	border-radius: 10px;
}

.container{
	max-width: 600px;
	margin: 0 auto;
}
.start{
	background-image: url(img/bgimage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

	padding-top: 65px;
	padding-bottom: 120px;
}
.cont-flex{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.start img{
	width: 109px;
	height: 44px;
	margin-bottom: 35px;
}

.start__navigation-panel{
	width: 385px;
	margin: 0 auto;
	margin-bottom: 45px;
}
.start__navigation-list{

	list-style: none;

	display: flex;
	justify-content: space-evenly;
}

.start__navigation-list a{
	font-family:'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 24px;

	color: #fff;
}

.start__section-title{
	font-family: 'Open Sans', sans-serif;
	font-size: 53px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;

	color: #fff;

	margin-bottom: 25px;
}
.start__section-subtitle{
	
	font-size: 15px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;

	color: #fff;

	margin-bottom: 70px;
}
.start__section-button{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 24px;

	padding: 15px 50px;
	border-radius: 25px;

	background-color: #50c3af;
	color: #fff;
}

/*About Us Section. 3 columns*/
.about-us{
	background-color: #eeeeef;

	padding-top: 50px;
	padding-bottom: 70px;
}

.about-us__flex{
	display: flex;
	align-items: baseline;
}

.about-us__flex-columns{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-us__flex-columns img{
	margin-bottom: 25px;
}

.about-us__flex-columns h3{
	font-size: 16px;
	line-height: 24px;

	margin-bottom: 35px;
}

.about-us__flex-columns p{
	text-align: center;
}

/*Responsive Templance Section*/
.template{
	padding-top: 31px;
	padding-bottom: 77px;
}
.template__flex{
	display: flex;
	justify-content: space-between;
}

.template__flex-columns{
	display: flex;
	flex-direction: column;
	align-items: baseline;
    flex-basis: 265px;
    flex-shrink: 1;
}
.template__flex-columns img{
	margin-bottom: 35px;
}
.template__flex-columns h3{
	margin-bottom: 30px;
}
.template__flex-columns p{
	margin-bottom: 30px;
}

/*fully-supported Section*/
.fully-supported{
	background-color: #eeeeef;

	padding-top: 60px;
	padding-bottom: 64px;

}
.fully-supported__flex{
	display: flex;
	width: 400px;

	border-bottom: 2px solid #e2e3e4;
}

.fully-supported__flex img{
	width: 24px;
	height: 23px;

	padding-right: 15px;
}

.fully-supported__flex h3{
	margin-bottom: 20px;
}

.fully-supported p{
	margin-bottom: 32px;
}

.fully-supported__button{
	background-color: #d2d5da;	
}

.fully-supported__button:hover{
	text-transform: uppercase;
	font-weight: bold;

	color: #d2d5da;
	background-color: #fff;
	border: 3px dotted #d2d5da;
	border-radius: 10px;
}

/*Check-this Out Section*/
.check-this{
	padding-top: 58px;
	padding-bottom: 67px;
}
.check-this__flex{
	display: flex;
	justify-content: space-between;
}
.check-this__flex-column{
	display: flex;
	flex-direction: column;
	flex-basis: 181px;
	flex-shrink: 1;
}
.check-this__flex-column img{
	margin-bottom: 35px;
}

.check-this__flex-column h3{
	margin-bottom: 30px;
}
.check-this__flex-column p{
	margin-bottom: 20px;
}

.link{
	font-size: 14px;
	color: #50c3af;
}

/*Sent It Section*/
.send-it{
background-color: #eeeeef;

	padding-top: 62px;
	padding-bottom: 58px;
}
.sent-in__flex{
	display: flex;
	justify-content: space-between;
}

.send-it__flex-column{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	flex-basis: 250px;
	flex-shrink: 1;
}
.send-it__small-flex{
	position: relative;
}
.send-it__small-flex img{
	position: absolute;
	left: 0;
	top: 0;
}
.send-it__small-flex h3{
	width: 200px;
	padding-left: 30px;

	margin-bottom: 20px;
}
.send-it__flex-column p{
	margin-bottom: 30px;
}

/*Just for you Section*/
.for-you{
	padding-top: 60px;
	padding-bottom: 60px;
}

.for-you__flex{
	display: flex;
	justify-content: space-between;
}

.for-you__flex img{
	flex-basis: 264px;
}

.for-you__text {
	flex-basis: 50%;
}

.for-you__text h3{
	margin-bottom: 30px;
}

.for-you__text p{
	margin-bottom: 30px;
}

/*Feature Section*/
.feature{
	background-color: #50c3af;

	padding-top: 45px;
	padding-bottom: 65px;
}

.feature__flex-title{
	display: flex;
	justify-content: center;

	position: relative;

	margin-bottom: 40px;
}

.feature__flex-title img{
	width: 20px;
 	position: absolute;
 	top: 0;
 	left: 165px;
}

.feature__flex-title h3{
	padding-left: 30px;
	color: #fff;
}

.feature__flex-company{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*footer Section*/
.footer-section{
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-section p{
	font-size: 13px;
	color: #aaacaf;
}
.footer-section span{
	font-size: 13px;
	color: #787b80;
}
.footer__sociale-flex{
	display: flex;
	justify-content: space-between;
    flex-basis: 70px;
}
.footer__flex{
	display: flex;
	justify-content: space-between;
}